@{
    var currentSite = await WebApp.Site.GetContentAsync<DemoSite>();
}

<link rel="stylesheet" href="~/css/footer-new.css" />
<footer class="page-footer">
    <div class="footer">
        <div class="footer-top">
            <div class="container">

                <div data-content-type="html" data-appearance="default" data-element="main" data-pb-style="QQO7GY5"
                    data-decoded="true">

                    <div class="footer-content">
                        <div class="row">
                            <div class="col col-2">
                                <img src="https://www.qnet-indonesia.co.id/media/wysiwyg/footer/qnet-26.png" alt=""
                                    style="width: 200px;" class="img-desktop">
                                <img src="https://www.qnet-indonesia.co.id/media/wysiwyg/footer/qnet-logo-colour.png"
                                    alt="" class="img-mobile">
                            </div>
                            <div class="col col-10">
                                <div class="row">
                                    <div class="col col-2 fmenu our-company" id="our-company">
                                        <div class="heading">
                                            <h3 class="our-company" href="our-company">Our Company</h3>
                                        </div>
                                        <div class="content">
                                            <a href="https://www.qnet-indonesia.co.id/d4_en/about-qnet">About
                                                QNET</a><br>
                                            <a href="https://www.qnet-indonesia.co.id/d4_en/direct-selling">Direct
                                                Selling</a><br>
                                            <a href="https://www.qnet-indonesia.co.id/d4_en/honour-roll">Honour
                                                Roll</a><br>
                                            <a href="https://www.qnet-indonesia.co.id/d4_en/csr">Social
                                                Responsibility</a><br>
                                            <a
                                                href="https://www.qnet-indonesia.co.id/d4_en/partnerships">Partnerships</a><br>
                                            <a
                                                href="https://www.qnet-indonesia.co.id/d4_en/sustainability">Sustainability</a><br>
                                            <a href="https://www.qnet-indonesia.co.id/d4_en/fingreen">Financial
                                                Literacy</a>
                                        </div>
                                    </div>
                                    <div class="col col-2 fmenu our-products" id="our-products">
                                        <div class="heading">
                                            <h3 class="our-products" href="our-products">Our Products</h3>
                                        </div>
                                        <div class="content">
                                            <a href="https://www.qnet-indonesia.co.id/d4_en/wellness">Wellness</a><br>
                                            <a href="https://www.qnet-indonesia.co.id/d4_en/home-and-living">Home
                                                &amp; Living</a><br>
                                            <a href="https://www.qnet-indonesia.co.id/d4_en/health">Health</a><br>
                                            <a href="https://www.qnet-indonesia.co.id/d4_en/personal-care-and-beauty">Personal
                                                Care &amp; Beauty</a>
                                        </div>
                                    </div>
                                    <div class="col col-2 fmenu our-opportunity" id="our-opportunity">
                                        <div class="heading">
                                            <h3 class="our-opportunity" href="our-opportunity">Our Opportunity</h3>
                                        </div>
                                        <div class="content">
                                            <a href="https://www.qnet-indonesia.co.id/d4_en/business-opportunity">Business
                                                Opportunity</a><br>
                                            <a
                                                href="https://www.qnet-indonesia.co.id/d4_en/compliance">Compliance</a><br>
                                            <a href="https://www.qnet-indonesia.co.id/d4_en/achievers-club">Achievers
                                                Club</a><br>
                                            <a href="https://www.qnet-indonesia.co.id/d4_en/earnings-and-income">Earnings
                                                and Income</a>
                                        </div>
                                    </div>
                                    <div class="col col-2 fmenu media" id="media">
                                        <div class="heading">
                                            <h3 class="media" href="media">Media</h3>
                                        </div>
                                        <div class="content">
                                            <a href="https://qnet.presshuntnewsroom.com/en"
                                                target="_blank">Newsroom</a><br>
                                            <a href="https://www.qbuzz.qnet.net" target="_blank">Blog</a>
                                        </div>
                                    </div>
                                    <div class="col col-2 fmenu help-centre" id="help-centre">
                                        <div class="heading">
                                            <h3 class="help-centre" href="help-centre">Help Centre</h3>
                                        </div>
                                        <div class="content">
                                            <a href="https://www.qnet-indonesia.co.id/d4_en/support">Support</a><br>
                                            <a href="https://www.qnet-indonesia.co.id/d4_en/smarthub">GSC Smart
                                                Hub</a><br>
                                            <a href="https://www.qnet-indonesia.co.id/d4_en/stay-connected">Stay
                                                Connected</a>
                                        </div>
                                    </div>
                                    <div class="col col-2 social-block">
                                        <h3>Follow Us</h3>
                                        <ul class="social-links">
                                            <li><a href="https://www.facebook.com/QNETIndonesia"
                                                    title="Follow on Facebook" target="_blank"><svg
                                                        class="svg-inline--fa fa-facebook-f" aria-hidden="true"
                                                        focusable="false" data-prefix="fab" data-icon="facebook-f"
                                                        role="img" xmlns="http://www.w3.org/2000/svg"
                                                        viewBox="0 0 320 512" data-fa-i2svg="">
                                                        <path fill="currentColor"
                                                            d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z">
                                                        </path>
                                                    </svg>
                                                </a>
                                            </li>
                                            <li><a href="https://www.youtube.com/user/QNETofficial"
                                                    title="Follow on Youtube" target="_blank"><svg
                                                        class="svg-inline--fa fa-youtube" aria-hidden="true"
                                                        focusable="false" data-prefix="fab" data-icon="youtube"
                                                        role="img" xmlns="http://www.w3.org/2000/svg"
                                                        viewBox="0 0 576 512" data-fa-i2svg="">
                                                        <path fill="currentColor"
                                                            d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z">
                                                        </path>
                                                    </svg>
                                                </a>
                                            </li>
                                            <li><a href="https://twitter.com/qnetwestafrica" title="Follow on Twitter"
                                                    target="_blank">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                        <path fill="#fff"
                                                            d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z">
                                                        </path>
                                                    </svg></a></li>
                                        </ul>
                                        <ul class="social-links">
                                            <li><a href="https://www.instagram.com/qnetindonesiaofficial/"
                                                    title="Follow on Instagram" target="_blank"><svg
                                                        class="svg-inline--fa fa-instagram" aria-hidden="true"
                                                        focusable="false" data-prefix="fab" data-icon="instagram"
                                                        role="img" xmlns="http://www.w3.org/2000/svg"
                                                        viewBox="0 0 448 512" data-fa-i2svg="">
                                                        <path fill="currentColor"
                                                            d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z">
                                                        </path>
                                                    </svg>
                                            </li>
                                            <li><a href="https://t.me/qnetofficial" title="Follow on Telegram"
                                                    target="_blank"><svg class="svg-inline--fa fa-telegram"
                                                        aria-hidden="true" focusable="false" data-prefix="fab"
                                                        data-icon="telegram" role="img"
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512"
                                                        data-fa-i2svg="">
                                                        <path fill="currentColor"
                                                            d="M248,8C111.033,8,0,119.033,0,256S111.033,504,248,504,496,392.967,496,256,384.967,8,248,8ZM362.952,176.66c-3.732,39.215-19.881,134.378-28.1,178.3-3.476,18.584-10.322,24.816-16.948,25.425-14.4,1.326-25.338-9.517-39.287-18.661-21.827-14.308-34.158-23.215-55.346-37.177-24.485-16.135-8.612-25,5.342-39.5,3.652-3.793,67.107-61.51,68.335-66.746.153-.655.3-3.1-1.154-4.384s-3.59-.849-5.135-.5q-3.283.746-104.608,69.142-14.845,10.194-26.894,9.934c-8.855-.191-25.888-5.006-38.551-9.123-15.531-5.048-27.875-7.717-26.8-16.291q.84-6.7,18.45-13.7,108.446-47.248,144.628-62.3c68.872-28.647,83.183-33.623,92.511-33.789,2.052-.034,6.639.474,9.61,2.885a10.452,10.452,0,0,1,3.53,6.716A43.765,43.765,0,0,1,362.952,176.66Z">
                                                        </path>
                                                    </svg>
                                            </li>
                                            <li><a href="https://www.tiktok.com/@@qnetofficial" title="Follow on Tiktok"
                                                    target="_blank"><svg class="svg-inline--fa fa-tiktok"
                                                        aria-hidden="true" focusable="false" data-prefix="fab"
                                                        data-icon="tiktok" role="img" xmlns="http://www.w3.org/2000/svg"
                                                        viewBox="0 0 448 512" data-fa-i2svg="">
                                                        <path fill="currentColor"
                                                            d="M448,209.91a210.06,210.06,0,0,1-122.77-39.25V349.38A162.55,162.55,0,1,1,185,188.31V278.2a74.62,74.62,0,1,0,52.23,71.18V0l88,0a121.18,121.18,0,0,0,1.86,22.17h0A122.18,122.18,0,0,0,381,102.39a121.43,121.43,0,0,0,67,20.14Z">
                                                        </path>
                                                    </svg>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-bot">
                        <div class="footer-logos">
                            <div class="row">
                                <img src="https://www.qnet-indonesia.co.id/media/wysiwyg/footer/caring-company.png"
                                    alt="">
                                <img src="https://www.qnet-indonesia.co.id/media/wysiwyg/footer/case-trust.png" alt="">
                                <img src="https://www.qnet-indonesia.co.id/media/wysiwyg/footer/dsaa.png" alt="">
                                <img src="https://www.qnet-indonesia.co.id/media/wysiwyg/footer/dsa-uae.png" alt="">
                                <img src="https://www.qnet-indonesia.co.id/media/wysiwyg/footer/dsap.png" alt="">
                                <img src="https://www.qnet-indonesia.co.id/media/wysiwyg/footer/dsas.png" alt="">
                                <img src="https://www.qnet-indonesia.co.id/media/wysiwyg/footer/qnet.png" alt="">
                                <img src="https://www.qnet-indonesia.co.id/media/wysiwyg/footer/pcci.png" alt="">
                                <img src="https://www.qnet-indonesia.co.id/media/wysiwyg/footer/hadsap.png" alt="">
                                <img src="https://www.qnet-indonesia.co.id/media/wysiwyg/footer/ap2li.png" alt="">
                            </div>
                        </div>

                        <div class="footer-links">
                            <div class="row">
                                <a href="https://www.qnet-indonesia.co.id/d4_en/privacy-policy">Privacy Policy</a>
                                <a href="https://www.qnet-indonesia.co.id/d4_en/disclaimer">Disclaimer</a>
                                <a href="https://www.qnet-indonesia.co.id/d4_en/terms-of-use">Terms of Use</a>
                                <a href="https://www.qnet-indonesia.co.id/d4_en/social-media-policy">Social Media
                                    Policy</a>
                                <a href="https://www.qnet-indonesia.co.id/d4_en/code-of-conduct">Code of Conduct</a>
                                <a href="https://www.qnet-indonesia.co.id/d4_en/code-of-ethics">Code of Ethics</a>
                                <a href="https://www.qnet-indonesia.co.id/d4_en/support">Contact Us</a>
                                <a href="https://www.qbuzz.qnet.net/qnet-answers/" target="_blank">FAQ @currentSite.FooterContents.CompanyName</a>
                            </div>
                        </div>

                        <script type="text/javascript">
                            require(['jquery'], function($) {
                                $(document).ready(function() {
                                    $('.footer-content .heading h3').click(function() {
                                        // Use data attribute to store the target section ID
                                        var targetId = $(this).data('target');
                                        var $targetContent = $('#' + targetId +
                                            ' .content');
                                        // Toggle visibility of the target content
                                        if ($targetContent.is(":visible")) {
                                            $('#' + targetId).removeClass('active-li');
                                            $targetContent.hide(500);
                                        } else {
                                            $('.footer-content .fmenu').removeClass(
                                                'active-li');
                                            $('.footer-content .fmenu .content').hide(500);
                                            $('#' + targetId).addClass('active-li');
                                            $targetContent.show(500);
                                        }
                                    });
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>